// Breakpoints ---------------------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors ---------------------------------------
$white: #FFFFFF;
$alabaster: #FAFAFA;
$silver: #AFAFAF;
$bandsite-black: #323232;
$mercury: #E1E1E1;
$error-color: #D22D2D;